#adPage {
    background-color: var(--backgroundColor);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textColor);
}

#adContent {
    display: flex;
    flex-direction: row;
    width: 70vw;
    min-width: 600px;
    margin: 4vh auto;
}

.frameRoot {
    background: var(--infoColor);
    max-width: 337px;
    padding-left: 30px;
    padding-right: 30px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    margin: 0 auto;
}

.frameRoot button {
    margin-top: 40px;
}

.text1 {
    color: var(--headerColor);
    font-size: 15px;
    font-weight: 700;
    gap: 80px;
    margin-top: 5px;
}

.text2 {
    color: var(--headerColor);
    font-size: 20px;
    font-weight: 700;
    gap: 80px;
    margin-top: 10px;
}

.text3 {
    color: var(--headerColor);
    font-size: 20px;
    font-weight: 700;
    gap: 80px;
   /*  position: fixed; */
    margin-bottom: 10px;
}

.toolImage{
    max-width: 337px;
    max-height: 270px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    border-radius: 10px;
}

.toolImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.infoContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 150px;
    align-items: flex-start;
}

.userAndTitle {
    align-self: stretch;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.currentPrice {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.deleteButton {
    background-color: var(--requiredRed);
}

.deleteButton:hover {
    background-color: rgb(247, 105, 105);
}