#addBox {
    background-color: var(--adColor);
    width: 100%;
    min-height: 100%;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    
}

#addBox:hover {
    box-shadow: 3px 3px 7px 0px var(--headerColor);
}

#addBox img {
    width: 95%;
    margin-top: 5px;
    border: 2px solid var(--headerColor);
    border-radius: 10px;
    margin-bottom: -30px;
}

#addBox h2 {
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 2.5%;
    color: whitesmoke;
    text-align: left;
}

hr {
    border: 1px solid var(--headerColor);
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#area {
    text-align: left;
    margin-left: 2.5%;
    margin-top: 2px;
    margin-bottom: 0px;
    color: darkgray;
    font-size: small;
}

#rented {
    padding-top: 5px;
    color: black;
}

#priceDiv {
    position: relative;
    top: 0px;
    left: 2.5%;
    background-color: black;
    opacity: 80%;
    width: 35%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 7px;
    height: 25px;
}

#price {
    color: whitesmoke;
    margin: auto;
}

#rentedAddBox {
    opacity: 0,5;
    background-color: var(--adColor);
    width: 100%;
    min-height: 100%;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    opacity: 0.5;
    
}

#rentedAddBox img {
    width: 95%;
    margin-top: 5px;
    border: 2px solid var(--headerColor);
    border-radius: 10px;
    margin-bottom: -30px;
}

#rentedAddBox h2 {
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 2.5%;
    color: whitesmoke;
    text-align: left;
}

