#registerPage {
  background-color: var(--backgroundBlue);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.registerContent {
  width: 600px;
  max-width: 100%;
  padding: 40px;
  margin: 4vh auto;
  background-color: var(--lightBlue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.registerContent > h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 20px 0;
  color: var(--textBlue);
}

.registerForm {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.registerForm>* {
  margin-top: 10px;
}

#errorMessage {
  color: var(--red);
  font-weight: 600;
  margin-top: 20px;
  height: 15px;
}

.registerForm>label {
  font-size: 14px;
  color: var(--textBlue);
  font-weight: 600;
}

.registerForm>input {
  font-size: 14px;
}

.registerForm>button {
  width: 200px;
  font-weight: 600;
  font-size: 16px;
  align-self: center;
  margin-top: 15px;
}
