#createAdPage {
  background-color: var(--backgroundBlue);
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: scroll;
  font-family: Arial, Helvetica, sans-serif;
}

.createAdContent {
  width: 600px;
  max-width: 100%;
  padding: 40px;
  margin: 4vh auto;
  background-color: var(--lightBlue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.createAdContent > h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 20px 0;
  color: var(--headerBlue);
}

.createAdForm {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.createAdForm>* {
  margin-top: 10px;
}

.createAdForm > textarea {
  height: 105px;
  font-size: 14px;
  resize: none;
}

.createAdForm > input {
  font-size: 14px;
}

.createAdForm > label {
  font-size: 14px;
  font-weight: bold;
  color: var(--headerBlue);
}

.createAdForm > input {
  font-size: 14px;
}

.createAdForm > label {
  font-size: 14px;
  font-weight: bold;
  color: var(--headerBlue);
}

.createAdForm > button {
  width: 200px;
  font-weight: 600;
  font-size: 16px;
  align-self: center;
  margin-top: 40px;
}

.textFieldWithError {
  border: 1px solid red;
  border-radius: 2px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 2;
}

#gridDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  column-gap: 20%;
  row-gap: 2%;
  margin-top: 20px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border: 1px solid gray;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: var(--buttonHoverOrange);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 2.5px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}