.mainButton {
    background-color: var(--buttonOrange);
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 10px;
}

.mainButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.mainButton:hover:enabled {
    background-color: var(--orange);
}

.smallTextButton {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    cursor: pointer;
}

.rentItButton {
    border: none;
    padding: 50px 40px;
    cursor: pointer;
    color: black;
    display: flex;
    font-weight: 600;
    background-color: #fed9b7;
    width: 337px;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.rentItButton:hover {
    background-color: #f07167;
}
