
:root {
    --green: #1B998B;
    --purple: #2D3047;
    --yellow: #FFFD82;
    --orange: #FF9B71;
    --red: #E84855;
    --backgroundBlue: #a8dadc;
    --headerBlue: #1d3557;
    --requiredRed: #ff0000;
    --lightBlue: #f1faee;
    --adBlue: #457b9d;
    --buttonOrange: #fed9b7;
    --buttonHoverOrange: #f07167;  
}