/* :root {
  --backgroundColor: #a8dadc;
  --headerColor: #1d3557;
  --requiredRed: #ff0000;
  --infoColor: #f1faee;
  --adColor: #457b9d;
  --buttonColor: #f07167;
  --buttonHoverColor: #fed9b7;
  --textColor: #000000;
} */


.dark {

/*   --backgroundBlue: #060523;
  --headerBlue: #1d3557;
  --requiredRed: #ff0000;
  --lightBlue: #1d3557;
  --adBlue: #457b9d;
  --buttonOrange: #fed9b7;
  --buttonHoverOrange: #f07167;
  --textBlue: #f1faee; */

  --backgroundColor: #1f1f2c;
  --navbarColor: #1d3557;
  --requiredRed: #ff0000;
  --infoColor: #1d3557;
  --adColor: #335d77;
  --buttonColor: #f5aba5;
  --buttonHoverColor: #fed9b7;
  --headerColor: #ffffff;
  --textColor: #ffffff;
}

.light {
--backgroundColor: #a8dadc;
--navbarColor: #1d3557;
--requiredRed: #ff0000;
--infoColor: #f1faee;
--adColor: #457b9d;
--buttonColor: #f5aba5;
--buttonHoverColor: #fed9b7;
--headerColor: #1d3557;
--textColor: #000000;
}


