:root {
  --backgroundColor: #a8dadc;
  --headerColor: #1d3557;
  --requiredRed: #ff0000;
  --infoColor: #f1faee;
  --adColor: #457b9d;
  --buttonColor: #f07167;
  --buttonHoverColor: #fed9b7;
  --textColor: #000000;

  /*
  
Her er darkmodefargene: 
  --backgroundColor: #1f1e25;
  --headerColor: #29282d;
  --requiredRed: #cc0606;
  --infoColor: #333239;
  --adColor: #333239;
  --buttonColor: #5e9395;
  --buttonHoverColor: #b8cfcf;
  */
  
}