.loanAgreementContent {
  width: 50%;
  max-width: 100%;
  padding: 40px;
  margin: 4vh auto;
  background-color: #f1faee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #a8dadc;
  margin: 0;
  /* overflow: scroll; */
  font-family: Arial, Helvetica, sans-serif;
}

.loanAgreementContent > h1 {
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif;*/
  font-size: 40px;
  margin: 0;
  padding: 20px 0;
  color: #1d3557;
}

.loanAgreementForm {
  margin: auto;
  text-align: center;
  position: relative;
}

.loanAgreementForm>* {
  margin-top: 10px;
}

.loanAgreementForm button {
  width: 50%; /* 200px */
  font-weight: 600;
  font-size: 16px;
  align-self: center;
  margin-top: 40px;
}

#adInfo {
  text-align: left;
  width: 100%; /* 400px */
  max-width: 420px;
  padding: 10px;
  margin: 3vh auto;
  background-color: #457b9d;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.bilde {
  max-width: 150px; /* 150px */ 
  margin: auto;
}

.bilde img {
  max-width: 150px;
  max-height: 120px; /* 120px */
  margin: auto;

  border-radius: 10px;
}

.info {
  width: 100%; /* 250px */
  /* height: 120px; */
  padding-left: 15px;
}

.loanAgreementContent > p {
  color: white;
  font-size: 16px;
  margin: 0;
  padding-bottom: 5px;
}

.loanAgreementContent > h2 {
  color: white;
  margin: 0;
  padding-bottom: 5px;
}

#labels {
  /* height: 50px; */
  height: 65px;
  width: 30%; /* 100px */
  padding-left: 20%;
  padding-top: 5px;
  text-align: left;
  float: left;
}

#dates {
  height: 100%; /* 140 */
  width: 50%; /* 100px */
  float: left;
}

.date {
  width: 120px; /* 150px */
  height: 25px;
  margin-top: 1px;
}

.dateError {
  width: 120px;
  height: 25px;
  border: 2px solid red;
  margin-top: 1px;
}

.error {
  color: red;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.errorSection {
  /* width: 300px; */
  width: 90%; /* 400px */
  /* padding: 10px; */
  margin: auto;
}

/* .errorSection > p {
  text-align: left;
} */

.link {
  color: rgb(255, 255, 255);
  font-size: 16px;
}