#HomePage {
    background-color: var(--backgroundBlue);
    min-height: 100vh;
    padding-bottom: 20px;
}

#infoDivs {
    margin-left: 12vw;
    margin-right: 12vw;
}

#infoDivs h1 {
    margin: 0px;
}

#infoDivs #pageInfoDiv, #adInfoDiv, #loanInfoDiv {
    background-color: var(--lightBlue);
    color: var(--textBlue);
    width: 50vw;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
}

#pageInfoDiv {
    margin-right: auto;
}

#pageInfoDiv img {
    width: 250px;
    border-radius: 10px;
    margin-top: -40px;
}

#pageInfoDiv div {
    display: flex;
}

#adInfoDiv {
    margin-left: auto;
    text-align: right;
}

#adInfoDiv img {
    width: 350px;
    border-radius: 10px;
    margin-top: -40px;
}

#adInfoDiv div {
    display: flex;
}

#loanInfoDiv {
    margin-right: auto;
}

#loanInfoDiv img {
    width: 420px;
    border-radius: 10px;
    margin-top: -40px;
}

#loanInfoDiv div {
    display: flex;
}